<p id="notice"><%= notice %></p>

<p> Number of breweries: <%= @breweries.count %> </p>

<h1>Listing Breweries</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
<table class="table table-hover">
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brewery', new_brewery_path, class:'btn btn-brimary' if current_user %>
